body {
height: 100vh;
	background: linear-gradient(
		to bottom,
		#fd3535 0%,
		#8535fd 65%,
		#8535fd 75%,
		#2f91f9 100%
	);
}

	.margin {
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
			zoom: 2;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

p {
	color: white;
}

h4 {
	color: white;
}